<div class="row">
    <div class="col-6 col-md text-left">
        <h5>{{ date()|date('D H:i:s') }}</h5>
    </div>

    <div class="col-6 col-md text-center">

        <h5>Ⓒ <a href="https://www.linkedin.com/in/hassane-sidi-ammi-b54b6749/">Hassane SIDI AMMI 2019</a></h5>

        <b>h.sidiammi@gmail.com</b>
    </div>
    <div class="col-6 col-md text-right">
        <h5>{{ date()|date }}</h5>
    </div>
</div>