header .navbar, header nav {
    background: lighten($primary, 40%);
    z-index: 1031;
    .navbar-toggler-icon {
        background-image: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
    }

    .nav-item.active > a{
        text-decoration: underline;
    }
}

main.container {
    min-height: 32rem;
    .pb-5, .py-5 {
        margin-left: auto;
        margin-right: auto;
    }
}
.register {
    min-height: 15rem;
    margin-top: 5rem;
}

.shops.row-eq-height {
    .shop:nth-child(odd) {
        background: lighten($primary, 55%);
    }
    .shop:nth-child(even) {
        background: lighten($secondary, 50%);
    }
    .shop .shop-btn{
        bottom: .5rem;
    }
    .h6 {
        font-size: 1.05rem;
    }
}

.fos_user_registration_register {
    width: 100%;
    #fos_user_registration_form_plainPassword, .form-row, .map{
        width: 100%;
    }
}
