<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Hassane SIDI AMMI">
    <title>{% block title %}Hello Shop!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('global') }}
    {% endblock %}
</head>
<body>
{% block header %}
    <header class="mb-5">
        {% include 'includes/_navbar.html.twig' %}
    </header>
{% endblock %}
<main class="container">
    <div class="row pt-md-3 pt-lg-5">
        {% include 'includes/_alerts.html.twig' %}
        {% block body %}
        {% endblock body %}
    </div>
</main>

<footer class="container py-5 mt-4">
    {% include 'includes/_footer.html.twig' %}
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>